version: '3'

services:
  anilistbackup:
    image: ghcr.io/almir1904/anilistbackup:latest
    environment:
      - ANI=your_anilist_user
      - MAL=your_mal_user #OPTIONAL
      #- TACHI=false #OPTIONAL
      #- TRIM_LISTS=true #OPTIONAL
      #- SEPARATE_NSFW=false #OPTIONAL
      #- CLEAR_OUTPUT_FILES=false #OPTIONAL
      #- USE_ANILIST_AS_MAL=false #OPTIONAL
    volumes:
      - /path/to/host/output/directory:/app/AniPy/output
